<h4><%= @submission.title %></h4>


<div class="">

  <section>
    Current status: <%= @submission.status %>
  </section>
  <section>
    <h5>Response:</h5>
    <% if @submission.response.present? %>
    <p><%= simple_format @submission.response %></p>
    <% else %>
    <p> Pending... </p>
    <% end %>
  </section>
</div>
