
<section class="newsletter-pg">
  <div class="">
    <div class="newsletter-description">
      <h2 style="margin: 0 0 8px 0;">Join the newsletter!</h2>
      <p style="margin-bottom: 32px;">
        Grab a cup of coffee with us. Discover fresh cinema, thoughts, & ideas. Inspire discussion. Inspire creation.
      </p>
    </div>
    <div class="newsletter-form">
      <%= simple_form_for @newsletter, remote: true do |f| %>
        <%= f.input :email, placeholder: "Enter email", class: "input-email-subscribe" %>
        <%= f.button :submit, "Subscribe", class: "input-subscribe-page" %>
      <% end %>
    </div>
  </div>
</section>
