
<div class="avatar-step">

<%= image_tag "UserAvatar.svg" %>

<h4 class="add-avatar">Add a profile photo</h4>

<p class="add-avatar-description">It helps build trust and recognition in the sink.</p>


<div class="avatar-input">
  <%= f.input :avatar, label: false %>
</div>


  <div class="" style="font-size: 12px; display: flex; justify-content: center; margin-bottom: 1.2em;">
    Not sure which image to choose? No worries, you can add an image later in your profile...
  </div>

</div>
