
<div class="avatar-step">

<%= image_tag "UserAvatar.svg" %>

<h4 class="add-avatar">Add a profile photo</h4>

<p class="add-avatar-description">Adding a photo or graphic helps build <br> trust and recognition in the sink.</p>


  <%= f.input :avatar, label: false %>


</div>
