

  <%= f.input :email, placeholder: 'i.e. address@email.com' %>
  <%= f.input :password, label: 'Password (Must be atleast 8 characters)', placeholder: 'Enter password' %>
  <%= f.input :password_confirmation, placeholder: 'Confirm password' %>
  <%= f.button :submit, "Join the sink" %>


  <div class="agree">
    By joining the sink, you agree to TimeSink's <br> <u>Terms</u> and <u>Privacy Policy</u>
  </div>
