

<h3>I'm</h3>

 <%= f.input :name, placeholder: 'Your full name', label: false %>

 <div class="already-sign-in">
  Already have an account? <%= link_to "Sign in", new_session_path, :class => "sign-in-from-new-account" %>
 </div>
