
<div class="username-step">

<h4>Create a screen name</h4>

  <%= f.input :username, placeholder: 'Enter your screen name', label: false %>
 <p>Don't stress, you can always change this later.<p>


</div>
