
<div class="username-step">

<h3>What's your username?</h3>

<div class="username" style="display: flex; justify-content: center;">
  <div class="">
      <%= f.input :username, placeholder: 'Enter your username', label: false %>
     <p style="display: flex; justify-content: center; font-size: 12px;">Don't stress, you can always change this later.<p>
  </div>
</div>

</div>
