
<div class="username-step">

<h3>What's your username?</h3>

  <%= f.input :username, placeholder: 'Enter your username', label: false %>
 <p>Don't stress, you can always change this later.<p>


</div>
