<footer class="footer">
  <span>© <%= Time.current.year %> TimeSink presents, all rights reserved</span>
  <%= link_to "Terms & conditions", main_app.terms_path %>
  <%= link_to "Privacy policy", main_app.privacy_policy_path %>
  <a href="#">hello@timesinkpresents.com</a>
  <span style="font-size: 12px;">Made with </span> &hearts; <span style="font-size: 12px;"> and lots of coffee between Lyon & NYC</span>
</footer>
