<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">BIENVENUE! </div>
  <%= link_to main_app.new_submission_path do %>
  <div class="ticker__item">SUBMISSIONS ARE NOW OPEN! </div>
      <% end %>
      <div class="ticker__item">WELCOME TO TIMESINK!</div>
</div>
</div>
