<div class="ticker-wrap">
<div class="ticker">
      <div class="ticker__item">
        "It's beautiful to think about these pictures and sounds flowing together in time and sequence, making something that can be done only through cinema." - David Lynch
      </div>
      <div class="ticker__item">
        “There is no end. There is no beginning. There is only the infinite passion of life.” - Federico Fellini
      </div>
      <div class="ticker__item">
        "Cameras do not make films; film-makers make films." - Maya Deren
      </div>
</div>
</div>
