<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">BIENVENUE! </div>
    <div class="ticker__item">A NEW ARTICLE BY SALLY YATES IS FEATURED IN THE BLOG </div>
  <div class="ticker__item">TIMESINK PRESENTS, LIVE: 11pm EST </div>
  <%= link_to new_submission_path do %>
  <div class="ticker__item">SUBMISSIONS ARE NOW OPEN! </div>
      <% end %>
      <div class="ticker__item">ENNIO MORRICONE PASSES AWAY AT 80 YRS</div>
      <div class="ticker__item">MOVIE THEATER TICKET SALES CONTINUE TO DECLINE</div>
</div>
</div>
