

<div class="success-submit">
  <p class="submit-success">Success!</p>

  <p class="thank-you-donation">Thank you for your donation!
    You'll receive a confirmation email shortly with your receipt.
  </p>
</div>


<div class="button-back-films">
  <button class="button button_continue">
    <%= link_to "Continue to films", films_path %>
  </button>
</div>
