

<div class="success-submit">
  <p class="submit-success">Thank you!</p>

  <p class="thank-you-donation">Thank you for your contribution! You'll receive <br>
    a confirmation email shortly with your receipt.
  </p>


<div class="button-back-films">
  <button class="button button_continue">
    <%= link_to "Continue to films", films_path %>
  </button>
</div>

</div>
