<section class="info">
  <ol>
    <li>About</li>
    <li>Review Guidelines</li>
    <li>Film submissions</li>
    <li>Cookies Policy</li>
    <li>Privacy Notice</li>
    <li>FAQ</li>
    <li>Contact</li>
  </ol>
</section>

<section class="about">
  <p class="about">About</p>
  <p>TimeSink was conceived in the green waves of Brighton Beach</p>
</section>
