<%= render "shared/ticker" %>


<ul class="accordion-list">
  <li>
    <h3>What is TimeSink?</h3>
    <div class="answer">
      <p>TimeSink is a cinema platform dedicated to promoting the work of current filmmakers. It also features op-eds and articles in the <i>Tales from the Faucet</i> blog to inspire discussion ranging from politics, current events, and artistic ideas.</p>

    </div>
  </li>
  <li>
    <h3>Review guidelines</h3>
    <div class="answer"><p>We believe the only way to create a fruitful and interesting space is to promote honesty above anything else. We want your candid thoughts, but we will swiftly remove any reviews that become personal attacks or slander. We encourage brutal honesty, but expect good taste and style.</p></div>
  </li>
  <li>
    <h3>Film submissions</h3>
    <div class="answer">
      <p>We accept digital film submissions from around the globe for a fee of $10 each. Each submission is guaranteed to be watched followed by a written response, and filmmakers can track the status of their submission. We don't distinguish between genres, duration, or release year. If we think that your film is up to our standards we will want to present it! As Nietschze wrote, "What doesn't kill us makes us stronger," so please don't be discouraged if your film is not selected - keep trying! </p>
    </div>
  </li>
  <li>
    <h3>Top Picks</h3>
    <div class="answer">
      <p>To reward a culture of excellent quality, TimeSink members can upvote films, as well as other members' film reviews and comments beneath each review and blog article. Films are ranked in descending order with the most upvotes appearing at the top. In the near future, we plan on rolling out prizes for members who achieve a certain amount of upvotes on their activity (reviews and comments). </p>
    </div>
  </li>
  <li>
    <h3>Contact</h3>
    <div class="answer">
      <p>For all inquiries email us at hello@timesinkpresents.com</p>
    </div>
  </li>
</ul>


<script type="text/javascript">
  $(document).ready(function(){
  $('.accordion-list > li > .answer').hide();

  $('.accordion-list > li').click(function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active").find(".answer").slideUp();
    } else {
      $(".accordion-list > li.active .answer").slideUp();
      $(".accordion-list > li.active").removeClass("active");
      $(this).addClass("active").find(".answer").slideDown();
    }
    return false;
  });

});
</script>
