

<ul class="accordion-list">
  <li>
    <h3>What is TimeSink?</h3>
    <div class="answer">
      <p>Conceived in Sheepshead Bay, NY and made in Lyon, France. We are an independent cinema platform dedicated to curating, educating, reviewing, and presenting great films made by current filmmakers. </p>

<p>As a catalyst, we help audiences discover exceptional films made by some of the freshest talent in cinema today. In return we help creators connect with audiences around the world and develop their careers.</p>

<p>In short, we promote the art, the wonder, and the joy of cinema and make it accessible for everyone.</p>

    </div>
  </li>
  <li>
    <h3>Our Mission</h3>
<div class="answer">
  <p>We want to grow audiences, inspire the current and future generations of filmmakers, and create new traditions.</p>

<p> From live stream shows to pop-up cinema events, our vision is to build a platform that promotes the art form while also cultivating the elements that make great cinema: creators and audience members. </p>

<p>We aim to support filmmakers by promoting and presenting their work to our engaged viewership, while also reinvesting a portion of our profits and resources for them.</p>
</div>
  </li>
  <li>
    <h3>Review guidelines</h3>
    <div class="answer">
      <p> <i>"The artist only performs one part of the creative process. It's the onlooker who completes, and it is the onlooker who has the last word." Marchel Duchamp </i> </p>
       <p> We believe the viewer ultimately makes the work, and focusing the art of critique and debate into the public space is one of our goals. </p> <p>We also believe that the best way to create a valuable platform is to promote honesty above everything. </p> <p> We want your candid thoughts, but we expect them to be expressed through great taste and style.</p>  <p> Any reviews that become personal attacks or deemed 'poor taste' by our editors will be removed. </p></div>
  </li>
  <li>
    <h3>Film submissions</h3>
    <div class="answer">
      <p>The driving force of cinema is fundamentally human. Not computer. We take pride in an algorithm-less selection approach, as we believe strongly in the human touch. </p> <p> We accept digital film submissions from around the globe for a fee of $10 each. </p> <p> Each submission comes with our guaranteed proof-of-viewership, followed by a written response. Filmmakers can also track the status of their submission throughout the process. </p> <p> We don't distinguish between genres, duration, or release year. Just great storytelling and impression. <p> As Nietzsche once wrote, "That which doesn't kill us makes us stronger," so please don't be discouraged if your film is not selected - keep trying! </p>
    </div>
  </li>
  <li>
    <h3>Top Picks</h3>
    <div class="answer">
      <p>To reward a culture of excellent quality, TimeSink members can upvote films, as well as other members' film reviews and comments beneath each review and blog article. </p> <p>Films are ranked in descending order with the most upvotes appearing at the top. In the near future, we plan on rolling out prizes for members who achieve a certain amount of upvotes on their activity (reviews and comments). </p>
    </div>
  </li>
  <li>
    <h3>Contact</h3>
    <div class="answer">
      <p>For all inquiries email us at hello@timesinkpresents.com</p>
    </div>
  </li>
</ul>






<script type="text/javascript">
  $(document).ready(function(){
  $('.accordion-list > li > .answer').hide();

  $('.accordion-list > li').click(function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active").find(".answer").slideUp();
    } else {
      $(".accordion-list > li.active .answer").slideUp();
      $(".accordion-list > li.active").removeClass("active");
      $(this).addClass("active").find(".answer").slideDown();
    }
    return false;
  });

});
</script>
