<section class="info">
  <ol>
    <li>What is TimeSink?</li>
    <li>Review Guidelines</li>
    <li>Film submissions</li>
    <li>Featured reviews</li>
    <li>Top picks</li>
    <li>Cookies Policy</li>
    <li>Privacy Notice</li>
    <li>FAQ</li>
    <li>Contact</li>
  </ol>
</section>

<section class="about">
  <h2 class="about">What is TimeSink?</h2>
  <p>TimeSink was conceived in the green waves of Brighton Beach</p>
</section>

<section class="review-guidelines">
  <h2>Review guidelines</h2>
  <p>Each film has it's own cafe area where discussion about the film is hosted. We don't believe in an arbitrary rating system at this time, as we believe that words and expression of ideas are morhave more substance.</p>
</section>
