
<section class="newsletter-pg">
  <div class="">
    <div class="newsletter-description">
      <h2 style="margin: 0 0 8px 0;">Join the newsletter!</h2>
      <p style="margin-bottom: 32px;">
        Discover fresh cinema, thoughts, & ideas. Inspire discussion. Inspire creation.
      </p>
    </div>
    <div class="newsletter-form">
        <%= render 'newsletters/formPage' %>
    </div>
  </div>
</section>
