
<div class="success-submit">
  <p class="submit-success">Subscribed!</p>

  <p class="thank-you-donation">Thank you for subscribing to our newsletter.</p>


<div class="button-back-films">
  <button class="button button_continue">
    <%= link_to "Continue to films", films_path %>
  </button>
</div>

</div>
