
<main class="reset-email-sent">
  <section>
  <h5>A temporary password reset link has been sent to your email address.<h5>
    <p class="reset"> Check your email, and click on the link to continue your password reset journey.</p>

    <p>  <%= link_to root_path do %></p>
      <span><%= image_tag "BackArrow1.svg" %> </span>
      <span> Return to home page</span>
      <% end %>
  </section>


</main>
