

<section>
  <ul class="submit">
    <li class="submit-detail">
        <h2>Film submission</h2>

        <h5>$10.00</h5>

        <p class="submit">Submissions are now open for consideration to be featured in the next series of TimeSink Presents film gallery. <br>
          <br>

        TimeSink attracts an international audience of thousands of movie lovers, industry professionals and filmmakers throughout the year. <br> <br>

        Each submission comes with our status update feature, so you'll know exactly when your film has been viewed, critiqued, and judged. If your film is not accepted at the time, you will also the written critique of your film. <br> <br>

        We accept short films and feature length projects across all genres and formats.</p>

      <div class="button-submit">
        <button class="button button4">
          <%= link_to "Submit your film", new_submission_path(@user) %>
          </button>
      </div>
    </li>

    <li class="submit-image">
      <%= image_tag "timesinkstream.gif", :class => "submit-img" %>
  </li>
  </ul>

</section>
