<h3>Film submission</h3>

<p>$5.00</p>

<p class="submit">Submissions are now open for consideration to be featured in the next series of TimeSink Presents film gallery. <br>
  <br>

TimeSink attracts an international audience of thousands of movie lovers, industry professionals and filmmakers throughout the year. <br> <br>

We accept short films and feature length projects across all genres and formats.</p>


<button class="button button4">
  <%= link_to "Submit your film", new_submission_path(@user) %>
  </button>
