

<div class="success-submit">

  <%= image_tag "Success.svg", :class => "submission-success-check" %>

  <h4 class="title-thankyou-submission">Thank you for <br> submitting your film!</h4>

  <p class="thank-you-submit">
      You'll receive a confirmation email shortly with your receipt.
  </p>


  <div class="button-back-films">
    <button class="button button_continue">
      <%= link_to "Continue to films", films_path %>
    </button>
  </div>

</div>
