

<section>
  <ul class="submit">
    <li class="submit-detail">
        <p class="headline">Film submission</p>

        <span>$10.00</span>

        <p class="submit">Submissions are now open for consideration to be featured in the TimeSink Presents film gallery. <br>
          <br>

        Each submission comes with our status update feature, so you'll know exactly when your film has been viewed, critiqued, and judged. If your film is not accepted at the time, you will also receive the written critique of your film. <br> <br>

        We accept short films and feature length projects across all genres and formats.</p>

      <div class="button-submit">
        <button class="button button4">
          <%= link_to "Submit your film", new_submission_path(@user) %>
          </button>
      </div>
    </li>

    <li class="submit-image">
      <%= video_tag "timesinkpresents.mp4", :class => "submit-img", :muted => true, :autoplay => true, :loop => true %>
  </li>
  </ul>

</section>
