<h1>Thanks for joining the sink!</h1>

<h4>Each member that joins brings something fresh to the community...</h4>

<h6>Now you can:</h6>

<<li>
<ul>
  discover new films
</ul>
<ul>
  write reviews
</ul>
<ul>
  write anything you want in the forum
</ul>
<ul>
  engage in great discussion with other cinephiles
</ul>

</li>
