<p><%= @user.name %>, it's a pleasure to have you onboard...</p>

<h3>Welcome to TimeSink!</h3>

<p>Our goal is to become the premiere platform for discovering the freshest talent in cinema today. </p>

<p>We believe the viewer forms part of the creative act. Now you have the power to write reviews, share comments, upvote, and connect with other members around the world. </p>

<p> In addition to presenting <a href="www.timesinkpresents.com/films" style="text-decoration: none; color: black;"><u>films</u></a>, we also feature a blog section called <a href="www.timesinkpresents.com/blog" style="text-decoration: none; color: black;"><i><u>Tales from the Faucet</u></i> </a> where we'll regularly publish exclusive articles, interviews, and op-eds with a diverse range of topics and perspectives.</p>

<p>As a platform, we are only as great as our members are, so we appreciate your presence and we look forward to your contributions.</p>

<p>Above all, please be free to express yourself honestly here - we value your perspective and candid thoughts. </p>

<p>P.S. You'll notice the ability to upvote films as well as member comments and reviews. We want to recognize and reward high quality ideas and contributions. Later we plan on rolling out prizes for members who've earned a certain amount of upvotes. More on this another time. For now just know that you can earn upvotes based on your activity and we're recording your total amounts.</p>

<h3>Filmmakers</h3>

<p>We don't discriminate between genre, duration, or budget. We are simply looking for films or series that impress us through storytelling, technique, and vision. Please consider <a href="www.timesinkpresents.com/submit" style="text-decoration: none; color: black;"><u>submitting</u></a> your film/series for a chance to be featured on TimeSink Presents.</p>

<p>Submissions include status updates so you'll know exactly when your film has been received, viewed, and judged.   </p>

<p>Each submission also comes with our written response. </p>

<p>Submissions are $25 each.</p>

<h3>Your TimeSink profile</h3>
<p><u>Username</u>: <%= @user.username %></p>
<p style="text-decoration: none; color: black;"><u>Email</u>: <%= @user.email %> </p>

<p>If you have any questions please don't hesitate to reach out to hello@timesinkpresents.com</p>

<p>See you around!</p>

<p>Cheers, <br> TimeSink</p>
