
<form action="/donations" method="post" id="new_donation">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="donation[stripe_payment_id]" id="payment">

  <div class="field">
    <label for="Name">Name</label>
    <input type="text" name="donation[name]" id="Name">
  </div>

  <div class="field">
    <label for="Email">Email</label>
    <input type="text" name="donation[email]" id="Email">
  </div>

  <div class="field">
    <label for="Amount">Amount</label>
 <input type="number" name="donation[amount]" id="amount" step="any" class="currency" min="1" max="2500.00" placeholder="Enter a dollar amt here">
  </div>


<div id="card-errors">
  <% @donation.errors[:stripe_payment_id].each do |message| %>
<p class="error"><%= message %></p>
<% end %>
</div>

<div id="card" class="card-donation">
  <!-- card element appears here -->
</div>


    <input type="submit" value="Donate to TimeSink">
  </form>








<script charset="utf-8">
  (function(){

  var stripe = Stripe('<%= Rails.application.credentials[Rails.env.to_sym][:stripe_public_key] %>');
    // load the fonts in
  var fonts = [{
    cssSrc: "https://fonts.googleapis.com/css?family=Karla",
  }];
  // styles for the stripe inputs
  var styles = {
    base: {
      iconColor: "#cccccc",
      color: "#ffffff",
      fontFamily: "Spectral",
      fontSize: "16px",
      fontSmoothing: 'antialiased',
      borderColor: "#ffffff",

      "::placeholder": {
        color: "#ccc"
      },
      ":-webkit-autofill": {
        color: "#ccc"
      }
    },
    invalid: {
      iconColor: "#FFC7EE",
      color: "#A31621"
    }
  }

  var elements = stripe.elements();
  var cardElement = elements.create('card', {style: styles});
  cardElement.mount('#card');

  const form = document.querySelector('#new_donation');
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    // Step 1: POST request to create payment intent
    fetch('/payment_intents_donations', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        authenticity_token: '<%= form_authenticity_token %>',
        amount: document.getElementById('amount').value
      }),
    })
    .then((response) => response.json())
    .then((paymentIntent) => {
      // Step 2: Create payment method and confirm payment intent.
      stripe.confirmCardPayment(
        paymentIntent.client_secret, {
          payment_method: {
            card: cardElement
          }
        }
      ).then((resp) => {
        if (resp.error) {
          $("#card-errors").html(resp.error.message)
        } else {
          // Step 3: Embed payment ID in form
          const paymentIdInput = document.querySelector('#payment');
          paymentIdInput.value = paymentIntent.id;
          form.submit();
        }
      })
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });
  })();
</script>
