
<div class="timesink-500-error">
  <div class="error-500">
    500
  </div>
  <div class="internal">
    <h1><i>Technical difficulties!</i></h1>
  </div>
    <div class="internal2">
      <p>
        The server is acting a bit funky right now. <br>
        Try again or come back later.
    </p>
    </div>
</div>
