<h1>We've received a new submission from <%= @submission.user.name %>! </h1>

<h3>Their film is called <%= @submission.title %> and is <%= @submission.film_length %> long. </h3>

<h4>Film description: <%= @submission.description %></h4>

<h6>Happy viewing!</h6>
