<h1> Your film submission for <%= @submission.title %> has been received!</h1>


<h3>Total: $10</h3>
<h3>Submission ID: <%= @submission.id %> </h3>

<h4>We will send you another confirmation once your film has been viewed. Stay tuned!</h4>
