


h4.add-avatar {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}


div.avatar-step {
margin-top: 100px;
width: 380px;
margin-left: auto;
margin-right: auto;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 32%;
  }

}

p.add-avatar-description {
  margin-top: 0px;
  margin-bottom: 56px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  width: 380px;
}

a.skip  {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
  align-items: center;
  margin-top: 80px;
}
