// Blog section intro

.blog-intro  {

  margin-left: 4em;

  h5 {
      font-family: "Canela";
      margin-bottom: 2px;
      letter-spacing: 3px;
  }

  p {
    margin-top: 4px;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'MonumentGroteskTrial-Mono';
  }

  p.opinions {
    font-size: 8px;
  }

}

// Blog Posts as they appear in index

ul {

  display: grid;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  font-family: "Spectral-Light";

   list-style: none;

 h1, h2, h3, h4, h5, h6 {
   font-family: "Canela";
   width: 100%;
 }


  li {

    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;

div.blog-post-cover-wrapper {

  background-color: grey;

}

    div.blog-description {
      padding: 12px;
      align-items: center;
      float: left;
      margin-left: 64px;
      h5 {
        font-family: "Canela-Light";
        margin-top: 0;
        margin-bottom: 8px;
      }

      span.published {
        margin-left: 32px;
      }

      p.blog-descriptor {
        width: 400px;
        font-size: 14px;
      }
    }

    img {
      display: block;

    }

    img.eyeglass {
      display: inline-block;
      width: 5%;
    }

    div.eyeglass {
      margin-left: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    span.author, span.published {
      font-size: 12px;
    }

    span.read {
      margin-left: 8px;
      font-size: 14px;
    }
  }
}


//

div.back-to-blog-index {
  h3 {
      font-size: 14px;
  }
}

section.blog-body {

  h2 {
    font-family: "Canela-Light";
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    line-height: 1.6;
    font-family: "Spectral-Light";
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}
