// Blog section intro

.blog-intro  {

  margin-left: 4em;

  h5 {
      font-family: "Canela";
      margin-bottom: 2px;
      letter-spacing: 3px;
  }

  p {
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Spectral-Light';
  }

  p.opinions {
    font-size: 8px;
  }

}

// Blog Posts as they appear in index

ul {

  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  font-family: "Spectral-Light";

   list-style: none;

 h1, h2, h3, h4, h5, h6 {
   font-family: "Canela";
   color: rgba(122, 168, 255, 0.85);
   width: 100%;
 }


  li {

    div.blog-description {

      align-items: center;
      float: left;
      margin-left: 64px;
      h5 {
        font-family: "Canela-Light";
        margin-top: 0;
      }

      span.published {
        margin-left: 32px;
      }

      p.blog-descriptor {
        width: 400px;
      }
    }

    img {
      display: block;
    }

    img.eyeglass {
      display: inline-block;
    }

    div.eyeglass {
      margin-left: 0;
      display: flex;
      align-items: center;
    }

    span.read {
      margin-left: 8px;
    }
  }
}


//

div.back-to-blog-index {
  h3 {
      font-size: 14px;
  }
}

section.blog-body {

  h2 {
    font-family: "Canela-Light";
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    line-height: 1.6;
    font-family: "Spectral-Light";
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}
