div.back-to-blog-index {
  h3 {
    display: inline-block;
  }
}

.blog-underline {
  border-bottom: 1px solid white;
}


// Blog section intro

.blog-intro  {

  margin-left: 4em;

  h5 {
      font-family: "SangBleu";
      margin-bottom: 2px;
      letter-spacing: 3px;
  }

  p {
    margin-top: 4px;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Spectral-Light';
  }

  p.opinions {
    font-size: 8px;
  }

}

// Blog Posts as they appear in index

ul {

  display: grid;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.65), inset 0 1px 0 #222222;
  padding: 24px 4px;
  border-radius: 12px;

  font-family: "Spectral-Light";

   list-style: none;

 h1, h2, h3, h4, h5, h6 {
   font-family: "Canela";
   width: 100%;
 }


  li {

    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;

div.blog-post-cover-wrapper {

  background-color: grey;

}

    div.blog-description {
      padding: 12px;
      align-items: center;
      float: left;
      margin-left: 64px;
      h5 {
        font-family: "SangBlue";
        margin-top: 0;
        margin-bottom: 8px;
      }

      span.published {
        margin-left: 32px;
      }

      p.blog-descriptor {
        width: 400px;
        font-size: 14px;
      }
    }

    img {
      display: block;

    }

    img.eyeglass {
      display: inline-block;
      width: 5%;
    }

    div.eyeglass {
      margin-left: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
    }

    span.author, span.published {
      font-size: 12px;
    }

    span.read {
      margin-left: 8px;
      font-size: 14px;
    }
  }
}


//

div.back-to-blog-index {
  h3 {
      font-size: 14px;
  }
}

section.blog-body {

  width: 100%;
  margin-left: auto;
  margin-right: auto

  h2 {
    font-family: "SangBleuEmpire-Regular-WebTrial";
    width: 600px;
  }

.blog-body-p {
  margin-top: 56px;
}

  p {
    line-height: 1.6;
    font-family: "Spectral-Light";
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    text-align: left;
  }
}

.blog-author-date {
  margin-top: 16px;
  margin-left: 12.5em;
  margin-bottom: 32px;
  font-family: "Spectral-Light";

  img {
    display: block;
    margin-bottom: 40px;
  }


  h6 {
    margin: 4px;
  }
}
