$button-font: "SangBleuOGSans";



input[type=submit].back-button {

  background-color: #1B1C1E;
  border: 1px solid #7AA8FF;
  color: #80acff;
  padding: 6px 16px;
  margin-top: 10px;
  margin-left: 25px;
  font-family: $button-font;
}

input[type=submit].input-subscribe {
  margin-left: 0 !important;
  max-width: 300px;
}

.input-subscribe-page {
  margin-left: 0 !important;
  display: inline-block;
}


input[type=submit].skip-button {
  border: none;
  background-color: #1B1C1E;
  color: #F5F7F9;
  font-size: 18px;
  cursor: pointer;
}


.button {
  background-color: #1B1C1E; /* Dark Theater 4 */
  border: none;
  color: #1B1C1E;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  vertical-align: center;
}

.button1 {
  background-color:  #1B1C1E;
  color: #7AA8FF;
  border: 2px solid #7AA8FF;
  border-radius: 25px;
}

.button1 a {
  color: #7AA8FF;
  text-decoration: none;
  font-size: 12px;
  font-family: $button-font;
  text-align: center;
  line-height: 1.4;
}

.button1:hover {
  background-color: #7AA8FF;
  border-color: #7AA8FF;

 a{
   color: #222222;
 }
}

.button2 a {
  color:  #1B1C1E;
  text-decoration: none;
  font-size: 12px;
  font-family: $button-font;
  text-align: center;
  line-height: 1.4;
}

.button2 {
  background-color: #7AA8FF;
  border: 2px solid #7AA8FF;
  border-radius: 25px;
  margin-left: 1rem;
}

.button2:hover {opacity: 0.6}

.button3 {
  background-color:  #1B1C1E;
  color: #7AA8FF;
  border: 2px solid #7AA8FF;
  border-radius: 25px;
  padding: 8px 16px;
  margin-left: 56px;

}

.button3 a {
  color: #7AA8FF;
  text-decoration: none;
  font-size: 12px;
  font-family: $button-font;
}

.button3:hover {
  background-color: #7AA8FF;

 a{
   color:  #020b17;
 }
}

.button4 a {
  color:  #020b17;
  text-decoration: none;
  font-size: 12px;
  font-family: $button-font;
}

.button4 {
  background-color: #7AA8FF;
  border: 2px solid #7AA8FF;
  border-radius: 25px;
  padding: 8px 16px;
}

.button4:hover {opacity: 0.6}

div.button-back-films {
  margin-top: 32px;
  display: flex;
  justify-content:center;
  align-items: center;

}

.button_continue {
  background-color: #1B1C1E;
  color: #7AA8FF;
  border: 2px solid #7AA8FF;
  border-radius: 25px;
  padding: 12px 24px;

    a {
      color: #7AA8FF;
      text-decoration: none;
      font-size: 12px;
      font-family: "AnoRegularW05WideItalic";
    }

}


.sign-in-button {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  text-align: center;
  align-items: center;

  a {
    font-family: $button-font;
  }
}

button.submit-btc {
  background-color: orange;
}

div.delete-account-button {
  font-family: "AnoRegularW05WideItalic";
  margin-left: 6em;
  margin-top: 24px;
  display: inline-block;
  width: 200px;
  background-color: none;
  border: 1px solid #FE6D48;
  color: #ec2013;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;

  a {
    color: #FE6D48;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}
