span.comment-actions {
  a {
    margin-left: 12px;
  }
}


span.avatar-notification {
  align-items: center;
  vertical-align: middle;
  margin-right: 8px;
}


span.comment-notification {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}


.comment-body {
  width: 400px;
}


span.comment-avatar {
  vertical-align: middle;
  align-items: center;
}
