.donate-underline {
  border-bottom: 1px solid white;
}


div.card-donation {
  margin: 24px 10px 10px 0;
}

.donation_amount {
  margin: 10px 0;
}

form#new_donation {
  input[type=submit] {
    margin-left: 0;
    width: 400px;
    padding: 12px;
  }
}

.btc img {
  display: block;
}

p.or-btc {
  margin-top: 16px;
  color: rgba(122, 168, 255, 0.85);
}

div.donation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 96px;
  margin: 0 auto;
  width: 800px;
}

.donation-description {
  width: 400px;
}

.donation-proceed {
  margin-bottom: 32px;
  color: white;
}

form.btcpay-form_btcpay-form--block {
  width: 30%;
}

div.btcpay-custom-container {

}


 input[type='range'] {
   width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background-color: #434343;
      color: blue;

    }
