.timesink-404-error {
  font-family: "SangBleuKingdom";
}

div.error-404 {
  font-family: "AnoRegularW05WideItalic";
  font-size: 8rem;
  color: rgba(122, 168, 255, 0.85);
  display: flex;
  justify-content: center;
}
