footer {

  font-family: "AnoRegularW05Wide";
  align-items: center;
  justify-content: flex-start;
  margin: 48px 0 0 0px;
  padding: 48px;
  height: 204px;
  box-shadow: 12px 2px 34px rgba(0, 0, 0, 0.65);
  background-color:  #1B1C1E;


  a {
    color: #F5F7F9;
    text-decoration: none;
    margin-right: 48px;
    margin-left: 48px;
    font-size: 10px;
    font-family: "SangBleuOGSans";
    }
}


.footer {
  flex-shrink: 0;

}
