input[type=submit] {
  background: rgba(122, 168, 255, 0.85);
  color: #222222;
  border-color: rgba(122, 168, 255, 0.2);
  margin-top: 10px;
  margin-left: 25px;
  font-family: "Spectral";
}

input, textarea {
  font-size: 16px;
  min-width: 100px;
  border: 1px solid rgba(122, 168, 255, 0.85);
  padding: 7px 10px;
  font-family: 'Spectral';
  margin: 8px 0px;
  color: white;
  background-color: #222222;

      &:focus {
          outline: none !important;
          border: 1px solid white;
      }

}

.log-in {
  width: 400px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -75%);
}




  input {
    min-width: 300px;
    font-size: 14px;

  }


 label {
  display: block;
  color: rgba(122, 168, 255, 0.85);
}


div.new-account {
  text-align: center;
  width: 100%;
  position: fixed;
  transform: translate(-62%);
  left: 50%;
  top: 135%;
  margin-top: 16px;
  color: rgba(122, 168, 255, 0.85);

  .create-account {
    color: rgba(122, 168, 255, 0.85);
    border-bottom: 1px solid rgba(122, 168, 255, 0.85);
    display: inline-block;
    line-height: 0.85;
  }

  label.password_optional {
    margin-top: 16px;
  }
}



.submit {
  width: 500px;
  font-size: 12px;
}


select.required {
  background-color: #222222;
  color: rgba(122, 168, 255, 0.85);
  border-color: rgba(122, 168, 255, 0.85);
    font-family: 'MonumentGroteskTrial-Mono';
}
