@font-face {
  font-family: "SangBleuEmpire";
  src: url('app/assets/fonts/SangBleuEmpire-Regular.ttf');
}

label.password.required, label.password.optional, label.email.required {
  margin-left: 160px;
  margin-bottom: 4px;
  margin-top: 8px;
}

div.avatar-step {
margin-top: 100px;
}

div.email-step {
  margin-top: 100px;
}

h4.add-avatar {
  margin-top: 8px;
  margin-bottom: 0;
}

p.add-avatar-description {
  margin-top: 24px;
  margin-bottom: 56px;
}

h2.whats-your-name {
  font-family: "SangBleuEmpire"
}

input[type=submit] {
  background: #80acff;
  color: #222222;
  border-color: rgba(122, 168, 255, 0.2);
  padding: 8px 16px;
  margin-top: 10px;
  margin-left: 25px;
  font-family: "Spectral";
}

input, textarea {
  font-size: 16px;
  min-width: 100px;
  border-bottom: 1px solid rgba(122, 168, 255, 0.85);
  padding: 10px 16px;
  font-family: 'Spectral';
  margin: 8px 0px 16px 0;
  color: rgba(122, 168, 255, 0.6);
  background-color: #0f1011;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;


      &:focus {
          outline: none !important;
      }

}

.log-in {
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
}




  input {
    min-width: 300px;
    font-size: 24px;

  }


 label {
   margin-bottom: 0;
  display: block;
  color: rgba(122, 168, 255, 0.85);
}


div.new-account {
  text-align: center;
  width: 100%;
  position: fixed;
  transform: translate(-62%);
  left: 50%;
  top: 135%;
  margin-top: 16px;
  color: rgba(122, 168, 255, 0.85);

  .create-account {
    color: rgba(122, 168, 255, 0.85);
    border-bottom: 1px solid rgba(122, 168, 255, 0.85);
    display: inline-block;
    line-height: 0.85;
  }

  label.password_optional {
    margin-top: 16px;
  }
}



.submit {
  width: 500px;
  font-size: 12px;
}


select.required {
  background-color: #222222;
  color: rgba(122, 168, 255, 0.85);
  border-color: rgba(122, 168, 255, 0.85);
    font-family: 'MonumentGroteskTrial-Mono';
}



// new user

div.join-the-sink {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  label {
    text-align: left;
  }
}

.already-sign-in {
  color: #80acff;
    text-align: center;
}

.sign-in-from-new-account {
  color: #80acff;
  text-align: center;
  border-bottom: 1px solid rgba(#7aa8ff, 0.85);
  line-height: 0.85;
}

div.agree {
  margin-top: 32px;
  font-size: 10px;
  text-align: center;
}

// edit account

div.edit-account-form {
  input {
    border-radius: 2px;
  }
}
