
.info-underline {
  border-bottom: 1px solid white;
}



section.info li {
  font-family: 'Spectral';
  line-height: 1.4;
}

section.about {

  margin-top: 64px;
  font-family: 'Spectral-Light';
  margin-left: 12em;

  h1 {
    font-family: 'Canela-Light';
    font-size: 24px;
  }
}
