// username step

p.screen-name-description {
  text-align: left;
  font-size: 14px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}


div.agree {
  margin-top: 32px;
  font-size: 14px;
  text-align: center;
}


h3.Im {
  text-align: left;
  align-items: left;
}
