section.privacy {
  margin-top: 80px;
  margin-bottom: 120px;
  width: 1000px;
  margin-left: 10rem;
  line-height: 1.8;
  font-family: "Spectral-Regular";

  h1, h2, h3 {
    font-family: "SangBleuOGSans";
    font-weight: normal;
  }
}
