.review {

  border-top: 1px dotted white;
  font-family: "Spectral";
  margin-left: 80px;
  margin-top: 16px;
  padding-top: 16px;
}


.cornercafereview {
  width: 30%;
  display: block;
  margin: 48px 0 32px 80px;
}

div.review-details {
  margin-left: 0;
}

.review h6 {
  margin-bottom: 0px;
  border-bottom: solid 1px white;
  display: inline;
}

h3 .review-title  {
  font-size: 12px;
}

.new-review-post {
  display: block;
  margin-bottom: 16px;
  margin-left: 800px;
  width: 2%;

}


p.review-comment-count {
  font-size: 14px;
}
