
div.submission-form {
  display: flex;
  align-items: flex-start;
  margin-left: 8rem;
  margin-bottom: 80px;
}

div.submission-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 124px;
  margin-bottom: 24px;

  h2 {
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: "SangBleuOGSans";
    font-size: 64px;
  }

  p {
    width: 600px;
    font-size: 16px;
  }
}

ul.submit {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;


    p.headline {
      font-size: 24px;
        font-family: 'SangBleuOGSans';
    }

    span {
      font-family: 'Spectral';
      font-size: 18px;
    }

    list-style: none;
    width: 100%;


    li.submit-detail {
      width: 25%;
      float: left;
    }

    p {
        font-family: 'Spectral';
        width: 360px;
        font-weight: 300;
        font-size: 18px;
    }
      margin-left: 4em;

    div.button-submit {
      margin-top: 32px;

      .button-submit a {
        font-family: "MonumentGroteskTrial-Regular";
      }

    }

}

.select-year {
  font-family: "Spectral";
  font-size: 16px;
  background-color: #0f1011;
  color: rgba(122, 168, 255, 0.85);
  border-color: rgba(122, 168, 255, 0.85);
  border-radius: 30px;
  padding: 4px 16px;
}



.StripeElement {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.65), inset 0 1px 0 #0f1011;
  background-color: #222222;
  border-radius: 4px;
  padding: 24px 16px;
  width: 400px;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 58%;
  pointer-events: none;
  width: 35px;
  text-align: center;
  font-style: normal;
  color: rgba(122, 168, 255, 0.85);
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}

.submit-img {
  width: 100%;
  height: 50%;
  border-radius: 2px;
  display: block;
}


form#new_submission {
  input[type=submit] {
    margin-left: 0;
    padding: 12px;
    width: 400px;
    margin-bottom: 32px;
  }

  .StripeElement {
    margin-top: 24px;
  }
}
