ul.submit {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0px;
  width: 980px;
  margin-left: auto;
  margin-right: auto;


    p.headline {
      font-size: 24px;
        font-family: 'SangBlue';
    }

    span {
      font-family: 'Spectral-Light';
      font-size: 24px;
    }

    list-style: none;
    width: 100%;


    li.submit-detail {
      width: 25%;
      float: left;
    }

    p {
        font-family: 'Spectral-Light';
        width: 360px;
    }
      margin-left: 4em;

    div.button-submit {
      margin-top: 32px;

      .button-submit a {
        font-family: "MonumentGroteskTrial-Regular";
      }

    }

  .submit-img {
    width: 65%;
    border-radius: 100px;
  }

}

.select-year {
  font-family: "Spectral";
  font-size: 16px;
  background-color: #0f1011;
  color: rgba(122, 168, 255, 0.85);
  border-color: rgba(122, 168, 255, 0.85);
  border-radius: 30px;
  padding: 4px 16px;
}


p.donation-proceed {
  color: rgba(122, 168, 255, 0.85);
}

.StripeElement {
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.65), inset 0 1px 0 #222222;
  background-color: #0f1011;;
  border-radius: 4px;
  padding: 24px 16px;
  width: 400px;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 58%;
  pointer-events: none;
  width: 35px;
  text-align: center;
  font-style: normal;
  color: rgba(122, 168, 255, 0.85);
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}
