section.terms {
  margin-top: 80px;
  margin-bottom: 120px;
  width: 800px;
  margin-left: 10rem;
  line-height: 1.8;
  font-family: "Lyon Display Web";

  h2, h3 {
    font-family: 'SangBleuKingdom-Regular-WebS';
    font-weight: normal;
  }
}
