#user-submissions-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #222222;
  background-color: #cbd0da;
  font-weight: 400;
}


#user-submissions-table {
  font-family: "MonumentGroteskTrial-Regular", sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#user-submissions-table td, #user-submissions-table th {
  border: 1px solid #cbd0da;
  padding: 8px;
  text-align: center;
}

#user-submissions-table td#submission-title {
  text-align: left;
  padding-left: 1rem;
  padding-right: 0px;
}

#user-submissions-table tr:hover {
  background-color: #ddd;
  color: black;
}

td a {
  display: block;
}
