@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');

@font-face {
   font-family: 'Syne-Regular';
   src: url('/app/assets/fonts/Syne-Regular.ttf')
}

@font-face {
  font-family: 'MonumentGroteskTrial-Regular';
  src: url('app/assets/fonts/MonumentGroteskTrial-Regular.woff');
}

@font-face {
  font-family: "Spectral";
  font-weight: 400;
  src: url('app/assets/fonts/Spectral.ttf');
}

@font-face {
  font-family: 'Spectral-Light';
  font-weight: 300;
  src: url('app/assets/fonts/Spectral-Light.ttf');
}

@font-face {
  font-family: 'KhmerSangamMN';
  src: url('app/assets/fonts/KhmerSangamMN.ttf');
}

@font-face {
  font-family: 'Canela';
  src: url('app/assets/fonts/Canela-Light.ttf');
}

@font-face {
  font-family: 'MonumentGroteskTrial-Mono.otf';
  src: url('app/assets/fonts/MonumentGroteskTrial-Mono.otf');
}

@font-face {
  font-family: "SangBleuEmpire";
  src: url('app/assets/fonts/SangBleuEmpire-Regular.ttf');
}

@font-face {
  font-family: 'SangBleu-Light';
  src: url('app/assets/fonts/SangBleuKingdom-Light-WebTrial.ttf');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  src:url('//fonts.googleapis.com/css2?family=Roboto');
}

@font-face {
  font-family: 'SangBlueOGSans';
  font-style: normal;
  font-weight: normal;
  src: url('app/assets/fonts/SangBleuOGSans-Regular-WebTrial.ttf');
}

@font-face {
  font-family: "Riviera-Nights";
  font-weight: 400;
  src: url('app/assets/fonts/RivieraNights-Regular-WebTrial.woff2');
}


.links a.selected {
  border-bottom: 1px solid white;
}

.avatar {
  border-radius: 100px;
 // also might be good to set width and height
}


h1{font-size:64px;
font-weight: 400;}
h2{font-size:48px;
font-weight: 400;}
h3{font-size:40px;
font-weight: 400;}
h4{font-size:32px;
font-weight: 400;}
h5{font-size:24px;
font-weight: 400;}
h6{font-size:18px;
font-weight: 400;}

section.animation {
  width: 400px;
  height: 600px;
  margin-left: 360px;
  margin-bottom: 120px;
}

body {
  font-family: 'Spectral';
  background-color: #0f1011;
  color: #F5F7F9;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
}

.ribbon img {
  width: 30%;
}

.show-page img {
  width: 10%;
}

@import "films";

@import "reviews";

@import "submit";

@import "blog";

@import "forum";

@import "success-submit";

@import "info";

@import "donate";

@import "frontAnimation";

@import "buttons";

@import "notifications";

@import "forms";

@import "sign_in";

@import "onboarding";

@import "after_sign_up";

@import "footer";


.welcome {
  font-size: 12px;
}
section.info {
  font-family: 'MonumentGroteskTrial-Mono';
  line-height: 1.5;
  margin-left: 8em;
}

.comment-timestamp {
  font-size: 10px;
}

div.comment-body {
  border-bottom: 1px dotted white;

}

.review-body-content {
  font-family: "Spectral-Light";
}


section.info {
  font-family: 'Spectral-Light';
}

section.about {

  margin-top: 64px;
  font-family: 'Spectral-Light';
  margin-left: 12em;

  h1 {
    font-family: 'Canela-Light';
    font-size: 24px;
  }
}

h3 .review-title  {
  font-size: 12px;
}

.user-profile {
  margin-left: 144px;

  h2 {
    margin-bottom: 32px;
  }
}

a {
  text-decoration: none;
  color: #F5F7F9;
}

.cover_img {
  border: 1px solid #6E6E6E;
}

.prime-logo {
 width: 75%;
 display: block;
}

.prime-logo2 {
 width: 15%;
 position: fixed;
 left: 50%;
 top: 20%;
 transform: translateX(-78%);
}

header {
  margin: 48px 0px 64px 0px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  // background-color: #222222;
  padding: 8px 24px;
}

nav {


.links a {
    color: #F5F7F9;
    text-decoration: none;
    margin-right: 56px;
    font-family: "SangBleuEmpire";
    font-size: 18px;

    &:focus {
      border-bottom: 1px solid white;

      }

  }

  margin-right: 64px;
}



.success {
  background-color: rgba(134, 244, 181, 0.85);
  color: #F5F7F9;
  padding: 4px 20px;
  width: 100%
}

.arrowleft {
  color: #F5F7F9;
}

.error {
  background-color: rgb(255, 101, 101);
  color: #F5F7F9;
  padding: 2px 2px;
  width: 34%;

  p {
    font-size: 12px;
  }

}





.nested {
  margin-left: 100px;
}

// @import "footer";




* { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {

  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  padding-left: 100%;
  box-sizing: content-box;
  font-size: 16px;
  font-family: "KhmerSangamMN";
  margin-bottom: 48px;


  div.ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    font-size: 10px;
    margin-bottom: 24px;

    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 12px;
      color: white;

    }

  }

  body { padding-bottom: 5rem; }
  h1,h2,p {padding: 0 5%;}

}

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
  height: 100vh;
  display: flex;
}

header.blog-show {
  background-color: #222222;
}

body.blog-show {
  background-color: white;
}
