@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');

@font-face {
   font-family: 'Syne-Regular';
   src: url('/app/assets/fonts/Syne-Regular.ttf')
}

@font-face {
  font-family: 'MonumentGroteskTrial-Regular';
  src: url('app/assets/fonts/MonumentGroteskTrial-Regular.woff');
}

@font-face {
  font-family: "Spectral";
  src: url('app/assets/fonts/Spectral.ttf');
}

@font-face {
  font-family: 'Spectral-Light';
  src: url('app/assets/fonts/spectral-light.ttf');
}

@font-face {
  font-family: 'KhmerSangamMN';
  src: url('app/assets/fonts/KhmerSangamMN.ttf');
}

@font-face {
  font-family: 'Canela';
  src: url('app/assets/fonts/Canela-Light.ttf');
}

@font-face {
  font-family: 'MonumentGroteskTrial-Mono.otf';
  src: url(app/assets/fonts/MonumentGroteskTrial-Mono.otf);
}


@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  src:url('//fonts.googleapis.com/css2?family=Roboto');
}

h1{font-size:64px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:32px;}
h5{font-size:24px;}
h6{font-size:18px;}



body {
  font-family: 'MonumentGroteskTrial-Mono';
  background-color: #222222;
  color: #F5F7F9;
  height: 100vh;
  width: auto;
  position: relative;
}

.ribbon img {
  width: 30%;
}

.show-page img {
  width: 10%;
}

@import "submit";

@import "blog";


.welcome {
  font-size: 12px;
}
section.info {
  font-family: 'MonumentGroteskTrial-Mono';
  line-height: 1.5;
  margin-left: 8em;
}

section.about {

  margin-top: 64px;
  font-family: 'MonumentGroteskTrial-Mono';
  margin-left: 12em;

  h1 {
    font-family: 'Canela-Light';
    font-size: 24px;
  }
}

h3 .review-title  {
  font-size: 12px;
}

.user-profile {
  margin-left: 144px;

  h2 {
    margin-bottom: 32px;
  }
}

a {
  text-decoration: none;
  color: #F5F7F9;
}

.cover_img {
  border: 1px solid #6E6E6E;
}

.prime-logo {
 width: 50%;
}

div.back-to-films{
  h3{
    text-decoration: none;
    color: #F5F7F9;
    font-size: 14px;
  }
}

div.film-gallery-grid {
    font-family: 'MonumentGroteskTrial-Mono';

ul {
  list-style: none;

  li {
    width: 25%;
    float: left;
    border: solid 1px grey;
    font-family: 'MonumentGroteskTrial-Mono';
  }
}




  h3 {
    font-size: 12px;
      font-family: 'MonumentGroteskTrial-Mono';
  }

}

div.film-item {


  img {
    transition: 0.2s;

    &:hover {
      overlay: dfd
    }
  }

  div.gallery-components {

      div.coffee-review-metric {
        align-items: center;
        display: flex;
        text-align: center;
  }

    img {
      display: block;
      width: 5%;
    }

    span.reviews-number {
      font-size: 12px;
    }
  }
}


div.film-show-img {
  margin-bottom: 64px;
}

div.comment-content {
  border-bottom: 1px solid white;
}

header {
  margin: 48px 64px 64px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav {

.links a {
    color: #F5F7F9;
    text-decoration: none;
    margin-right: 56px;
    font-family: 'Spectral';
    font-size: 14px;
  }

  margin-right: 64px;
}

@import "buttons";

@import "forms";




.success {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #028ff5;
  color: #F5F7F9;
  padding: 8px 16px;
  width: 25%
}

.arrowleft {
  color: #F5F7F9;
}

.error {
  background: #FF6640;
  color: #F5F7F9;
  padding: 10px 20px;
  width: 25%
}



section.review-content {
  padding-bottom: 16px;
  border-bottom: 1px solid #F5F7F9;
  border-top: 1px solid #F5F7F9;
}

.nested {
  margin-left: 100px;
}

// @import "footer";




* { box-sizing: border-box; }
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {

  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  padding-left: 100%;
  box-sizing: content-box;
  font-size: 10px;

  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    font-size: 10px;

    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 10px;
      color: white;

    }

  }

}



body { padding-bottom: 5rem; }
h1,h2,p {padding: 0 5%;}
