<h2>We are grateful for your generous donation <%= @donation.name %>!</h2>

<h2>We are writing to let you know that we received your amount of $<%= @donation.amount %> and all of the proceeds are invested directly back into the TimeSink operations.</h2>

<h2>We will keep your receipt and you can expect to receive a suprise from us sometime in the near future.</h2>

<h3>Sincerely,</h3>

<h3>TimeSink</h3>
