<p>Dear <%= @donation.name %>, we just received your generous donation!</p>
<p>Our goal is to become the premiere destination for discovering the freshest talent in cinema today.</p>
<p>Your contribution is invested 100% back into the operation of TimeSink.</p>
<p> Please know that you are now apart of helping us on our journey, and we will never forget that.</p>
<p>We'll keep your receipt and expect to receive a surprise from us sometime in the near future.</p>
<p>Cheers, <br>
   TimeSink </p>
